#include "Generated.xcconfig"
#include "../../Flutter/Debug.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.crd.producer-gmail.com.trackflow
PRODUCT_NAME = TrackFlow
DISPLAY_NAME = TrackFlow

// Firebase configuration file
FIREBASE_CONFIG_FILE = GoogleService-Info-Prod.plist
# App Icon Configuration
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Prod
