#include "Generated.xcconfig"
#include "../../Flutter/Release.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.crd.producer-gmail.com.trackflow.staging
PRODUCT_NAME = TrackFlow Staging
DISPLAY_NAME = TrackFlow Staging

// Firebase configuration file
FIREBASE_CONFIG_FILE = GoogleService-Info-Staging.plist
# App Icon Configuration
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Staging
