#include "Generated.xcconfig"
#include "../../Flutter/Release.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.trackflow.dev
PRODUCT_NAME = TrackFlow Dev
DISPLAY_NAME = TrackFlow Dev

// Firebase configuration file
FIREBASE_CONFIG_FILE = GoogleService-Info-Dev.plist
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Distribution