#include "../../Flutter/Generated.xcconfig"
#include "../../Flutter/Release.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.trackflow.staging
PRODUCT_NAME = TrackFlow Staging
DISPLAY_NAME = TrackFlow Staging

// Firebase configuration
FIREBASE_CONFIG_DIR = config/staging
FIREBASE_CONFIG_FILE = GoogleService-Info-Staging.plist
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Distribution